
#container{	
	margin: 0 auto;
	padding: 10px;
}

#dashboard-page{
	/*float: right;*/
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	background-color: #FFF;
	width: 1000px;
	height: 800px;
	border: 1px solid #FFF;
	box-shadow: -1px 40px 40px rgba(1,1,1,0.8);
}


#dashboard-left{
	float:left;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	background-color: #fff;
	width: 500px;
	height: 850px;
	border: 1px solid #FFF;
	box-shadow: -1px 40px 40px rgba(1,1,1,0.8);
}

#dashboard-right{
	float:right;
}


#select_dates{
	float:left;
}

#select_precincts{
	float:right;
}


#dailytrend1{
	/*position: fixed;*/
    bottom: 0;
    width: 100%;
}
