.sparkline {
	fill: none;
	stroke-width: 1.5px;
	width: 400px;
}


.sparkcircle {
  fill: #f00;
  stroke: none;
}



.color_decreasing {
 	stroke: #0a0;
}


.color_increasing {
	stroke: #a00;
}

.color_black{
	stroke: #000;
}

.color_dot:{
	stroke: #f00;
}



.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff; /* Minor line*/
}

.x.axis path {
  fill: none;
  stroke: #000;
}

.y.axis line{
  fill: none;
  stroke: #000;
}

.y.axis path {
  fill: none;
  stroke: #000;
}










path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area_decreasing {
  fill: #0a0;
}

path.area_increasing {
  fill: #a00;
}

path.area_increasing {
  fill: #333;
}