.sparkline {
	fill: none;
	stroke-width: 1.5px;
	width: 400px;
}

.decreasing {
 	stroke: #0a0;
}


.increasing {
	stroke: #a00;
}



.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}