.sparkline {
	fill: none;
	stroke-width: 1.5px;
	width: 400px;
}

.color_decreasing {
 	stroke: #0a0;
}


.color_increasing {
	stroke: #a00;
}

.color_black{
	stroke: #000;
}

.color_dot:{
	stroke: #f00;
}




.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}